@{
    ViewData["Title"] = "Home Page";
}
<hr class="custom-hr">
<div class="text-center">
    <h1>VERSACE</h1>
    <hr class="custom-hr">

</div>

<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <p>WORLD CLASS FASHION</p>
    </div>
    <div style="text-align: center;">
        <p>KEEP YOU CLASSY</p>
    </div>
    <div style="text-align: right;">
        <p>REAL POWERFUL</p>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />


<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <p>Description : </p>
    </div>
    <div style="text-align: center; margin-left: 30px;">
        <p style="text-align: left;">
            This website is created to list
            <br /> the most popular products in various categories
            <br />from the world-class brand VERSACE.
        </p>
    </div>

    <div style="text-align: right;">
        <p></a></p>
    </div>
</div>

<br />



<div style="text-align: center;">
    <img src="@Url.Content("~/projectpig/home.png")" alt="Logo">
</div>



<style>
    h1{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 280px;

    }

    .custom-hr {
        border: none;
        border-top: 3px solid black; 
    }

    img {
        max-width: 1300px; /* ปรับขนาดรูปภาพให้มีความกว้างสูงสุด 100px */
        max-height: 1000px; /* ปรับขนาดรูปภาพให้มีความสูงสูงสุด 100px */
    }
    p {
        font-family: "Imbue", serif;
        font-size: 15px
    }
</style>