@{
    ViewData["Title"] = "Privacy Policy";
}
<hr class="custom-hr">
<div class="text-center">
    <h1>CREATOR</h1>
    <hr class="custom-hr">

</div>>
<br />
<br />

<div style="text-align: center;">
    <img src="@Url.Content("~/projectpig/creator.png")" alt="Logo">
</div>

<br />
<br />
<div class="text-center">
    <div class="black-background">
        <h2>PHONTHAKON SAENGTHONGKOED 6421605435</h2>
    </div>
</div>
<br />
<div class="text-center">
    <div class="black-background">
        <h2>NICHAREE SEATTHANANONT 6421605389<h2>
    </div>
</div>
<style>
    h1 {
        font-family: "Playfair Display", serif;


        font-weight: bold;
        font-size: 100px;
    }

    .custom-hr {
        border: none;
        border-top: 3px solid black;
    }

    img {
        max-width: 1300px; /* ปรับขนาดรูปภาพให้มีความกว้างสูงสุด 100px */
        max-height: 1000px; /* ปรับขนาดรูปภาพให้มีความสูงสูงสุด 100px */
    }

    p {
        font-family: "Imbue", serif;
        font-size: 15px
    }
    h2 {
        font-family: "Imbue", serif;
        font-size: 25px;
    }

    .black-background {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
        width:400px;
        margin: 0 auto;
    }

</style>
